In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
sw_2001_2012=pd.read_csv("/content/drive/MyDrive/crimes_hackathon/17_Crime_by_place_of_occurrence_2001_2012.csv")

In [ ]:
sw_2013=pd.read_csv("/content/drive/MyDrive/crimes_hackathon/17_Crime_by_place_of_occurrence_2013.csv")
len(list(sw_2013))

34

In [ ]:
sw_2014=pd.read_excel("/content/drive/MyDrive/crimes_hackathon/17_Crime_by_place_of_occurrence_2014_changed.xlsx")
len(list(sw_2014))

34

In [ ]:
sw_2001_2012.columns==sw_2013.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])

In [ ]:
sw_2014.columns=sw_2013.columns

In [ ]:
sw_2013.shape

(38, 34)

In [ ]:
sw_merged= sw_2001_2012.append(sw_2013, ignore_index=True)

sw_merged.head()

,STATE/UT,YEAR,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,...,COMMERCIAL ESTABLISHMENTS - Burglary,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft
0,ANDHRA PRADESH,2001,100,177,5158,4257,57,172,31,74,...,1041,2502,37,232,862,8849,214,629,7220,16751
1,ARUNACHAL PRADESH,2001,9,26,99,131,0,0,0,8,...,84,54,8,40,65,249,22,84,248,443
2,ASSAM,2001,381,191,1695,2901,46,136,7,87,...,442,967,77,261,271,1342,532,687,2423,5367
3,BIHAR,2001,818,326,2486,4741,162,826,0,257,...,231,686,210,880,505,2582,1291,2203,3233,9701
4,CHHATTISGARH,2001,54,42,3336,1417,10,38,12,72,...,370,299,15,239,420,2835,87,338,4144,4812

In [ ]:
sw_merged=sw_merged.append(sw_2014,ignore_index=True)
sw_merged.tail()

,STATE/UT,YEAR,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,...,COMMERCIAL ESTABLISHMENTS - Burglary,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft
571,Total (States),2014.0,1333.0,3757.0,69618.0,94383.0,1030.0,11025.0,881.0,47326.0,...,14315.0,28932.0,1607.0,14701.0,17146.0,166693.0,4304.0,31527.0,104032.0,TOTAL - Theft
572,Total (UTs),2014.0,15.0,494.0,6472.0,21446.0,43.0,4183.0,27.0,22638.0,...,2120.0,3801.0,26.0,1565.0,1950.0,28677.0,91.0,6544.0,10614.0,TOTAL - Theft
573,Total (All India),2014.0,1348.0,4251.0,76090.0,115829.0,1073.0,15208.0,908.0,69964.0,...,16435.0,32733.0,1633.0,16266.0,19096.0,195370.0,4395.0,38071.0,114646.0,TOTAL - Theft
574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL - Theft
575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL - Theft

In [ ]:
sw_merged.dropna(axis=0,inplace=True)
sw_merged.tail()

,STATE/UT,YEAR,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,...,COMMERCIAL ESTABLISHMENTS - Burglary,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft
569,Lakshadweep,2014.0,0.0,0.0,10.0,15.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,TOTAL - Theft
570,Puducherry,2014.0,1.0,3.0,38.0,78.0,2.0,2.0,2.0,127.0,...,0.0,0.0,0.0,1.0,11.0,213.0,3.0,6.0,61.0,TOTAL - Theft
571,Total (States),2014.0,1333.0,3757.0,69618.0,94383.0,1030.0,11025.0,881.0,47326.0,...,14315.0,28932.0,1607.0,14701.0,17146.0,166693.0,4304.0,31527.0,104032.0,TOTAL - Theft
572,Total (UTs),2014.0,15.0,494.0,6472.0,21446.0,43.0,4183.0,27.0,22638.0,...,2120.0,3801.0,26.0,1565.0,1950.0,28677.0,91.0,6544.0,10614.0,TOTAL - Theft
573,Total (All India),2014.0,1348.0,4251.0,76090.0,115829.0,1073.0,15208.0,908.0,69964.0,...,16435.0,32733.0,1633.0,16266.0,19096.0,195370.0,4395.0,38071.0,114646.0,TOTAL - Theft

In [ ]:
sw_merged.shape

(572, 34)

In [ ]:
sw_merged.columns

Index(['STATE/UT', 'YEAR', 'RESIDENTIAL PREMISES - Dacoity',
       'RESIDENTIAL PREMISES - Robbery', 'RESIDENTIAL PREMISES - Burglary',
       'RESIDENTIAL PREMISES - Theft', 'HIGHWAYS - Dacoity',
       'HIGHWAYS - Robbery', 'HIGHWAYS - Burglary', 'HIGHWAYS - Theft',
       'RIVER and SEA - Dacoity', 'RIVER and SEA - Robbery',
       'RIVER and SEA - Burglary', 'RIVER and SEA - Theft',
       'RAILWAYS - Dacoity', 'RAILWAYS - Robbery', 'RAILWAYS - Burglary',
       'RAILWAYS - Theft', 'BANKS - Dacoity', 'BANKS - Robbery',
       'BANKS - Burglary', 'BANKS - Theft',
       'COMMERCIAL ESTABLISHMENTS - Dacoity',
       'COMMERCIAL ESTABLISHMENTS - Robbery',
       'COMMERCIAL ESTABLISHMENTS - Burglary',
       'COMMERCIAL ESTABLISHMENTS - Theft', 'OTHER PLACES - Dacoity',
       'OTHER PLACES - Robbery', 'OTHER PLACES - Burglary',
       'OTHER PLACES - Theft', 'TOTAL - Dacoity', 'TOTAL - Robbery',
       'TOTAL - Burglary', 'TOTAL - Theft'],
      dtype='object')

In [ ]:
sw_merged['TOTAL - Theft'].values

array([16751, 443, 5367, 9701, 4812, 576, 15834, 6117, 600, 1919, 3827,
       12868, 5441, 20263, 39866, 217, 271, 878, 258, 5622, 3023, 16939,
       74, 16709, 259, 27011, 1419, 14245, 231310, 65, 1529, 45, 40,
       19276, 10, 528, 21493, 252803, 19222, 395, 5555, 10145, 4302, 496,
       15742, 5962, 564, 2020, 4374, 13818, 5743, 20759, 37606, 255, 392,
       999, 257, 5268, 2963, 16313, 64, 18755, 22419, 1365, 12449, 228202,
       49, 1647, 75, 56, 16625, 12, 526, 18990, 247192, 23408, 370, 5525,
       10124, 4170, 464, 19304, 5591, 627, 1949, 4155, 14180, 4891, 20422,
       37098, 252, 360, 1303, 221, 5359, 3198, 16456, 65, 18213, 276,
       15751, 1368, 12613, 227713, 60, 1238, 61, 46, 15544, 8, 567, 17524,
       245237, 23578, 388, 5866, 11113, 5014, 503, 18551, 6558, 643, 1939,
       4374, 16093, 5240, 22586, 43952, 244, 418, 610, 255, 5967, 2587,
       18842, 73, 17530, 260, 22524, 1597, 14465, 251770, 103, 1459, 53,
       27, 18994, 5, 634, 21275, 273045, 23778, 531, 6369, 10812, 5600,
       495, 17964, 8694, 696, 1901, 6195, 17008, 5454, 20685, 46851, 243,
       476, 777, 294, 6743, 2924, 17898, 81, 15851, 325, 20695, 1630,
       12124, 253094, 92, 1373, 74, 50, 17955, 7, 466, 20017, 273111,
       23510, 451, 7820, 11752, 5262, 494, 18475, 10518, 812, 1937, 6173,
       14901, 5431, 21733, 46473, 290, 470, 758, 327, 6567, 3946, 17889,
       113, 13651, 392, 20447, 1696, 12532, 254820, 101, 1234, 61, 63,
       17498, 17, 560, 19534, 274354, 24391, 513, 7754, 11795, 5381, 494,
       18164, 11047, 1092, 2086, 7091, 14351, 5609, 22396, 47681, 454,
       500, 808, 360, 6830, 5173, 19345, 118, 13217, 411, 22816, 1593,
       13747, 265217, 112, 1740, 87, 43, 17037, 20, 787, 19826, 285043,
       25362, 445, 8012, 13206, 6079, 601, 20715, 12709, 1152, 2198, 7269,
       17820, 5818, 24583, 52860, 446, 669, 747, 345, 7419, 5563, 20411,
       127, 15019, 499, 25946, 1622, 17334, 294976, 128, 1991, 54, 49, 49,
       18867, 8, 688, 21706, 21834, 24692, 381, 7644, 15221, 5792, 858,
       19669, 12917, 823, 2631, 7716, 20576, 5564, 23260, 50930, 394, 545,
       761, 347, 7136, 5624, 22144, 62, 15712, 415, 29226, 1601, 17133,
       299774, 134, 1731, 63, 41, 21731, 10, 711, 24421, 324195, 26756,
       445, 7860, 15544, 5805, 1034, 16794, 16266, 838, 2510, 7090, 20093,
       4380, 21577, 52565, 417, 664, 823, 397, 7572, 5446, 22324, 53,
       14583, 457, 31153, 2138, 19389, 304973, 121, 1481, 63, 47, 23088,
       5, 534, 25339, 330312, 28267, 414, 8309, 16292, 5315, 1115, 16043,
       17425, 1042, 2655, 6378, 19834, 4704, 22414, 53449, 719, 696, 734,
       360, 8724, 4784, 21099, 72, 13924, 494, 36683, 2093, 21446, 315484,
       88, 1502, 69, 47, 22899, 4, 707, 25316, 340800, 27475, 402, 9394,
       17667, 5341, 915, 15952, 17590, 769, 2022, 6680, 18418, 4078,
       23182, 47476, 903, 543, 605, 381, 9630, 5272, 23314, 117, 11996,
       565, 37376, 1913, 22991, 312967, 71, 1549, 68, 55, 22032, 7, 658,
       24440, 337407, 31032, 514, 10515, 21423, 5189, 1138, 15313, 18620,
       818, 1862, 6839, 19756, 4079, 25045, 52670, 854, 617, 643, 406,
       10044, 4885, 28928, 122, 11950, 533, 41949, 1596, 22904, 340244,
       37, 1519, 58, 38, 30124, 8, 594, 32378, 372622, 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft', 'TOTAL - Theft',
       'TOTAL - Theft'], dtype=object)

In [ ]:
dist_2001_12=pd.read_csv('/content/drive/MyDrive/crimes_hackathon/01_District_wise_crimes_committed_IPC_2001_2012.csv')
dist_2013=pd.read_csv('/content/drive/MyDrive/crimes_hackathon/01_District_wise_crimes_committed_IPC_2013.csv')
dist_2014=pd.read_csv('/content/drive/MyDrive/crimes_hackathon/01_District_wise_crimes_committed_IPC_2014 _changed.csv')

In [ ]:
dist_2001_12.columns==dist_2013.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])

In [ ]:
dist_2013.columns=dist_2014.columns

In [ ]:
dist_2014.columns

Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'ATTEMPT TO MURDER',
       'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'RAPE', 'CUSTODIAL RAPE',
       'OTHER RAPE', 'KIDNAPPING & ABDUCTION',
       'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS',
       'KIDNAPPING AND ABDUCTION OF OTHERS', 'DACOITY',
       'PREPARATION AND ASSEMBLY FOR DACOITY', 'ROBBERY',
       'Criminal Trespass/Burglary', 'THEFT', 'AUTO THEFT', 'OTHER THEFT',
       'RIOTS', 'CRIMINAL BREACH OF TRUST', 'CHEATING', 'COUNTERFIETING',
       'ARSON', 'HURT/GREVIOUS HURT', 'DOWRY DEATHS',
       'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES', 'TOTAL IPC CRIMES'],
      dtype='object')

In [ ]:
dw_merged= dist_2001_12.append(dist_2013, ignore_index=True)
dw_merged.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,Criminal Trespass/Burglary
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,1131,16,149,34,175,0,181,1518,4154,NaN
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,1543,7,118,24,154,0,270,754,4125,NaN
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,2088,14,112,83,186,0,404,1262,5818,NaN
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,795,17,126,38,57,0,233,1181,3140,NaN
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,1244,12,109,58,247,0,431,2313,6507,NaN

In [ ]:
dw_merged.shape

(10678, 34)