In [ ]:
importance_scores=[5,1,0.5,4,3.5,3,3,3.5,2,1,2,2.5,2.5,3,3,2,2.2,1.5,2,2.2,2,2,2,1.5,1.3,2,1.9,2.2,2,4.5,3,2,2.5,3,]

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/District Wise Merged.csv")

In [ ]:
len(df.columns)

35

In [ ]:
df.head()

,Unnamed: 0,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,...,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,Criminal Trespass/Burglary
0,0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,...,1131,16,149,34,175,0,181,1518,4154,NaN
1,1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,...,1543,7,118,24,154,0,270,754,4125,NaN
2,2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,...,2088,14,112,83,186,0,404,1262,5818,NaN
3,3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,...,795,17,126,38,57,0,233,1181,3140,NaN
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,...,1244,12,109,58,247,0,431,2313,6507,NaN

In [ ]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [ ]:
df

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,Criminal Trespass/Burglary
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,1131,16,149,34,175,0,181,1518,4154,NaN
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,1543,7,118,24,154,0,270,754,4125,NaN
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,2088,14,112,83,186,0,404,1262,5818,NaN
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,795,17,126,38,57,0,233,1181,3140,NaN
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,1244,12,109,58,247,0,431,2313,6507,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10673,Lakshadweep,Lakshadweep,2014,0,0,0,1,0,1,0,...,1,0,1,2,0,0,0,30,81,10.0
10674,Lakshadweep,Total,2014,0,0,0,1,0,1,0,...,1,0,1,2,0,0,0,30,81,10.0
10675,Puducherry,Karaikal,2014,6,1,0,3,0,3,1,...,8,0,12,1,1,0,44,322,671,18.0
10676,Puducherry,Puducherry,2014,19,14,3,7,1,6,12,...,97,1,20,7,3,0,165,1014,2913,43.0
10677,Puducherry,Total,2014,25,15,3,10,1,9,13,...,105,1,32,8,4,0,209,1336,3584,61.0

In [ ]:
df['DISTRICT']=df['DISTRICT'].str.upper()

In [ ]:
len(importance_scores)

34

In [ ]:
dist_group=df.groupby('DISTRICT').sum()

In [ ]:
dist_group

,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,...,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,Criminal Trespass/Burglary
DISTRICT,,,,,,,,,,,,,,,,,,,,,
24 PARGANAS NORTH,26091,2465,1542,1056,1998,0,1998,3739,2648,1091,...,1909,718,2226,55,19162,8,188,64593,136204,11.0
24 PARGANAS SOUTH,26091,2340,205,564,2410,0,2410,2606,2517,89,...,2200,691,1650,21,20650,3,482,67134,136479,134.0
A AND N ISLANDS,2007,15,19,1,3,0,3,12,9,3,...,99,1,21,2,18,0,4,337,807,0.0
ADILABAD,28105,1383,1020,181,775,0,775,865,638,209,...,18847,216,2226,1463,4974,0,4368,24308,74376,566.0
AGAR,4027,24,48,0,52,0,52,36,11,12,...,319,3,97,9,74,0,128,1385,2861,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YADGIRI,10060,138,180,2,80,0,80,119,61,58,...,1577,10,502,12,284,0,548,2068,7605,86.0
YAMUNANAGAR,28105,459,361,28,365,0,365,1103,591,507,...,2443,111,352,72,1718,0,337,10438,27209,582.0
YAVATMAL,28105,1031,914,97,843,0,843,779,658,79,...,14184,150,2375,1651,2978,0,3153,28561,81439,942.0
ZUNHEBOTO,28105,64,47,3,21,0,21,7,6,0,...,54,0,0,0,0,0,3,238,859,20.0
ZZ TOTAL,70455,33201,35417,3380,33707,1,33706,65461,51881,13580,...,334669,8083,70739,12589,118866,31,111517,1092625,2647722,104401.0

In [ ]:
dist_group=dist_group.drop('YEAR',axis=1)
columns=list(dist_group.columns)
dist_group['Crime Index']=0

In [ ]:
for i in range(len(dist_group)):
  sum=0
  for j in range(20):
    # print(df.iloc[i][columns[j]],",",importance_scores[j])
    sum+=dist_group.iloc[i][columns[j]]*importance_scores[j]
  print(sum)
  dist_group.iloc[i,dist_group.columns.get_loc('Crime Index')]=sum

200848.6
181563.4
1105.6000000000001
58851.8
2060.4
224983.5
19300.100000000002
422644.0
36548.8
149629.0
1709.6
41947.0
112045.8
89906.09999999999
51751.6
145966.3
5428.4
8083.0
124604.70000000001
5605.7
203077.6
40447.200000000004
1739.7
3856.2
3717.7
9234.5
21374.800000000003
4178.5
77435.5
93172.3
25895.0
27525.7
11308.2
7341.200000000001
45363.5
75839.90000000001
28259.0
9089.3
48881.6
189.4
0.0
17219.0
45612.5
7986.7
910.4000000000001
10665.199999999999
32659.0
5967.9
19374.2
19897.7
46702.700000000004
91469.5
56341.1
6675.1
40385.1
44885.5
597.9
2977.6
25459.9
26922.100000000002
2113.4
33444.2
33984.899999999994
2961.1
30784.899999999998
49317.9
3984.2999999999997
25773.8
2972.2999999999997
4591.0
2283.9
24299.0
4130.0
25095.8
6194.099999999999
832504.9
93360.2
31810.5
35042.7
32559.7
36609.200000000004
27092.7
32539.300000000003
49549.2
101434.7
35180.9
11924.5
57405.799999999996
11227.5
26573.9
7474.5
18720.7
17034.1
2863.9
10898.6
83738.9
61618.0
3038.3
4245.9
72031.20000000001
42216.6
2362.2000000000003
1329.0
77645.40000000001
6726.6
27279.7
63828.7
43200.5
32385.7
24962.9
70886.4
49396.1
132557.0
42052.9
36496.6
82094.4
100031.59999999999
6451.2
43213.299999999996
63344.0
56429.4
235960.9
8632.8
71868.9
33259.2
4638.900000000001
34.5
33078.9
49042.299999999996
55361.0
104110.0
49777.6
5936.8
7778.700000000001
20962.7
69058.0
29301.5
25041.100000000002
2028.1
1083.1
606.0
7397.3
27533.5
76232.5
77494.9
46705.1
80953.7
12231.4
42061.799999999996
352.0
22.0
477.9
82244.0
57.0
7.0
2725.6000000000004
16974.5
142571.9
28026.6
19272.3
10078.6
3852.9
2107.1
8052.1
1658.1999999999998
145117.5
14662.8
77572.7
4895.599999999999
17577.2
32900.5
228688.5
14004.400000000001
18209.0
44134.7
49022.299999999996
1156.5
29709.8
2504.7
2228.1
10755.9
38216.799999999996
1231.1000000000001
9706.8
98193.7
86411.0
4055.6
36404.1
42.0
135.0
3021.9
2865.9
86845.5
74964.09999999999
44460.7
16840.4
20255.1
31749.7
1225.2
823.5
62.5
1507.7
5840.1
57949.700000000004
59196.799999999996
59408.4
6.2
303927.6
8238.8
858.0
26727.6
26438.5
34812.3
1551.3
5946.5
27170.2
184.5
12395.9
64593.1
48285.2
40496.0
1719.9
22911.6
80295.40000000001
44687.0
66021.9
32017.7
58270.5
1655930.2
7754.8
35230.4
23156.100000000002
541.0
78900.2
8474.1
18447.699999999997
95457.4
1252.5
13153.1
76074.7
38777.0
1066.9
37917.4
11204.699999999999
23877.0
29103.399999999998
49108.1
73278.29999999999
45035.6
2852.7000000000003
61172.299999999996
20284.9
47342.6
10263.2
0.0
944.4
13001.2
30708.5
22322.3
107196.1
296915.0
122007.3
22.2
1617.5
21763.0
47019.7
50036.0
57230.5
49747.7
35603.799999999996
34267.8
142622.8
14305.2
29208.6
28142.7
14985.5
28163.8
5689.6
10254.5
21515.0
67568.8
24939.100000000002
1510.9
4326.599999999999
176654.9
2019.9
504.6
30164.0
15115.2
2284.1
14032.199999999999
21684.7
7203.900000000001
10877.4
50190.8
74386.1
36666.3
23435.3
3041.5
4879.599999999999
605.2
2838.5
194.7
116.0
11447.300000000001
179164.4
95850.59999999999
236595.5
23734.899999999998
952.3
47868.1
36349.1
26531.8
44922.4
3225.1
33391.399999999994
39991.1
44917.1
89634.0
25792.5
15346.7
31357.7
57690.9
28456.0
46463.8
2174.2
12483.3
122140.6
33155.1
15499.2
240129.3
202113.09999999998
190830.40000000002
26515.4
21637.3
776.5
8866.2
51008.299999999996
8054.9
16429.8
38887.6
67147.20000000001
52327.9
40006.100000000006
24412.0
63650.700000000004
32139.6
26531.6
83315.6
91654.0
49581.600000000006
28120.800000000003
58471.200000000004
38948.0
4173.799999999999
29816.699999999997
8642.4
1642.8
2995.4
474141.4
0.0
5612.5
37362.2
11149.9
11846.1
26777.0
3296.1
7981.3
377377.80000000005
2274.0
13608.0
0.0
24287.899999999998
123522.0
4779.7
24371.100000000002
28235.2
28536.5
7440.7
9463.400000000001
1305.9
1067.9
155407.09999999998
161510.30000000002
62082.7
73826.0
104473.8
45077.9
15542.199999999999
38060.3
50995.399999999994
9103.8
19866.5
94116.5
52818.1
27101.600000000002
123311.2
1073.7
10506.9
58996.799999999996
49480.2
93461.2
688.7
10119.699999999999
14861.9
29565.600000000002
41759.799999999996
22582.2
32978.6
25884.199999999997
31001.2
40391.4
59040.2
31942.8
2198.0
1182.7
23918.0
52915.5
47894.9
45012.0
40036.0
12228.300000000001
23788.2
13607.8
41827.6
58781.100000000006
14856.4
3919.6
1010.2
14059.9
2949.2
2008.3999999999999
32770.2
3265.2
22891.7
2807.0
2486.7
53664.299999999996
48843.0
18042.6
24774.4
14874.300000000001
20175.3
59751.0
20423.1
163355.2
7342.0
38398.9
24176.100000000002
4563.7
58400.5
20625.6
1064.7
30035.0
105518.0
83081.8
24267.3
43688.700000000004
4020.2
12147.4
51838.399999999994
1057.3
16620.6
31271.0
20324.199999999997
790.5
22379.3
42391.8
26224.100000000002
81845.3
45619.9
16850.7
842.4
8011.599999999999
55218.600000000006
4141.6
32034.0
222.6
192.0
5609.9
1632.8
36417.2
55606.5
913.8
7274.7
80734.3
2906.2
494.7
28431.5
2564.7999999999997
18170.3
17730.6
8249.1
34792.9
43038.6
7270.400000000001
91456.5
346285.10000000003
57184.8
12339.199999999999
12545.0
1696.7
19584.0
27724.9
36629.899999999994
25022.0
49171.3
68471.0
19702.3
62481.4
370.3
15056.0
43551.2
45207.90000000001
69469.09999999999
33035.100000000006
82.2
14967.400000000001
10807.599999999999
15221.6
70118.5
58643.4
22020.899999999998
37457.1
7151.3
5646.599999999999
18.0
428.3
39828.4
21791.7
1252.5
9859.0
13420.4
57113.6
3767.5
1835.9
13699.9
5637.1
209.5
178.7
160.5
288328.89999999997
54293.1
8053.6
10844.5
27954.199999999997
54693.8
6955.2
4589.0
52184.3
51523.9
9471.6
93732.3
15910.199999999999
25641.2
3613.1
27374.3
538.9000000000001
12180.1
43116.9
5333.5
75726.7
63170.4
9769.699999999999
736.9
2807.5
16507.6
18146.3
45484.4
57603.0
7699.5
2842.2999999999997
11830.7
83989.3
25724.9
44529.5
77797.3
191812.7
67529.0
11127.2
4483.4
30992.7
5962.8
15467.900000000001
21977.8
2293.0
2225.2
94471.6
1498.5
60370.5
28387.399999999998
89690.9
15586.7
367744.6
729220.1
12926.7
123380.3
842.9
2273.3999999999996
37385.0
133794.5
95782.8
144953.40000000002
1788.4
24416.899999999998
58985.8
38765.9
4598.099999999999
4330.7
895.3
6546.5
1866.0
132928.40000000002
99681.5
29766.4
60921.399999999994
256577.3
7998.9
65355.0
96363.1
22854.0
61444.200000000004
26412.2
81874.7
28216.7
78984.0
24818.699999999997
2736.2
6120.6
27877.0
115602.5
85286.7
15995.4
149712.40000000002
17983.300000000003
34085.5
7481.8
20787.399999999998
34021.299999999996
92110.0
71164.0
286.5
12685.9
76021.8
139302.30000000002
183.5
15559.8
30308.7
47573.899999999994
78311.09999999999
198818.69999999998
198312.9
14899.800000000001
10751.9
49926.3
0.0
183205.0
17397.3
61857.5
35125.5
51143.5
9083.3
60798.0
40392.600000000006
36153.5
35403.200000000004
7262.799999999999
81436.70000000001
18568.3
14192.7
1507.7
199.9
49267.4
7477.3
60003.4
33417.299999999996
36455.4
2647.2
51826.9
301861.10000000003
4337.2
50139.5
8511.599999999999
19488.9
970.2
1685.0
28631.9
3985.6
28026.100000000002
13160.5
10197.3
3886.8999999999996
4588.3
64688.399999999994
55080.3
27983.399999999998
28054.1
18371.3
431413.0
2955.1
21010.0
162190.5
7623.0
50003.0
48177.899999999994
54461.8
31031.5
1991.3999999999999
34932.399999999994
32209.8
45378.6
50109.3
7657.1
1826.9
603.5
48602.8
97.0
155.2
16.5
2.5
151277.1
38526.5
13418.2
49501.5
6251.3
99933.6
47130.3
35328.9
16630.2
30990.0
5400.400000000001
33455.299999999996
7994.0
18464.3
28007.6
45956.1
121008.59999999999
50934.8
49864.1
30410.5
17027.6
6693.4
71347.5
47150.4
7610.799999999999
72311.1
68196.8
19495.6
37627.1
2585.1
707.4
231.5
1633.3
79428.6
61943.3
32559.5
24739.3
4327.8
1828.6000000000001
2174.8
41551.6
28712.1
65535.9
3377.4
44921.0
7646.4
69321.09999999999
30046.1
12045.0
24664.4
75246.7
39504.3
4355.5
27978.1
103333.5
70183.8
55966.5
7547.8
2127.0
19756.3
3861.9
29169.0
4627.0
3162.0
25519.2
3416.1
40030.200000000004
49392.799999999996
56923.1
6561.7
14687.6
9854.4
13367.0
27816.3
53214.299999999996
47288.1
6812.2
10667.8
7232.1
1635.9
5925.900000000001
56069.4
14056.7
36073.4
42620.4
74881.9
806.7
7244.0
8147.3
14166.8
12550.900000000001
16061.300000000001
13832.4
2538.0
10884.599999999999
27765.9
45087.0
53463.3
70352.3
30046.600000000002
55188.3
14332.8
49900.2
83776.4
13853.7
8778.9
71032.2
70641.7
6303.3
354636.3
21389.3
564.2
34257.4
47808.5
162892.6
131793.1
203.2
2.2
0.0
1.5
30504.6
65475.299999999996
2281.6
1759.0
24252.300000000003
13111.6
9631.9
212.3
2821.9
2823.6
921.8
37957.7
27912.3
35671.399999999994
18182.5
10692.9
182819.5
31005.0
33351.799999999996
1122.0
4672.6
17846.7
1228.3
4557.3
289689.2
128122.8
63516.700000000004
34308.1
3766.0
1712.0
55295.6
18776.5
26910.2
39483.7
22982.8
53491.3
12388.4
61977.1
11878.4
16560.8
30530.6
65965.3
3100.1
27901.7
31376.899999999998
2690.8
45260.8
34242316.3
0.0
1558.4
2070.4
4574.4
25326.100000000002
36312.700000000004
19765.3
61819.700000000004
67976.1
1393.6000000000001
3312.4
59273.3
116728.5
15039.5
11266.699999999999
50848.4
21983.1
128395.9
1533.4
1379.2
13535.7
11456.2
1788.7
42641.5
289.0
53430.3
15599.0
1545.6
3834.2
8706.3
125884.40000000001
34731.6
87034.20000000001
42391.200000000004
80941.59999999999
68989.6
52119.1
0.0
2621.8999999999996
82689.79999999999
93872.5
5562.3
25167.9
64134.0
3550.5
46954.200000000004
29857.4
103760.3
29537.5
47856.3
1922.5
3872.5
10071.5
77481.5
17660.5
72851.3
43006.4
26535.8
310878.8
132667.2
3076.3
6673.200000000001
49380.7
109636.6
2183.1
3371608.0

In [ ]:
dist_group.head(20)

,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,DACOITY,...,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,Criminal Trespass/Burglary,Crime Index
DISTRICT,,,,,,,,,,,,,,,,,,,,,
24 PARGANAS NORTH,2465,1542,1056,1998,0,1998,3739,2648,1091,268,...,718,2226,55,19162,8,188,64593,136204,11.0,200848.6
24 PARGANAS SOUTH,2340,205,564,2410,0,2410,2606,2517,89,212,...,691,1650,21,20650,3,482,67134,136479,134.0,181563.4
A AND N ISLANDS,15,19,1,3,0,3,12,9,3,5,...,1,21,2,18,0,4,337,807,0.0,1105.6
ADILABAD,1383,1020,181,775,0,775,865,638,209,75,...,216,2226,1463,4974,0,4368,24308,74376,566.0,58851.8
AGAR,24,48,0,52,0,52,36,11,12,1,...,3,97,9,74,0,128,1385,2861,87.0,2060.4
AGRA,1920,2115,519,648,2,646,3428,2320,694,222,...,1017,1798,955,4791,0,5481,23901,96803,668.0,224983.5
AHMEDABAD CITY,82,61,6,100,0,100,367,201,56,18,...,11,162,3,802,0,330,7450,15286,500.0,19300.1
AHMEDABAD COMMR.,1300,846,103,622,0,622,2759,2022,737,487,...,103,1000,233,13426,0,2352,111782,239263,674.0,422644.0
AHMEDABAD RURAL,479,290,27,120,0,120,617,513,68,165,...,12,317,1,1526,0,4143,25520,46015,151.0,36548.8
AHMEDNAGAR,1431,960,40,861,0,861,716,459,226,565,...,114,1790,70,6232,0,8327,19678,86653,1111.0,149629.0
AHWA-DANG,84,14,0,33,0,33,12,10,2,5,...,1,36,2,91,0,252,1366,2485,9.0,1709.6
AIZAWL,161,148,37,421,0,421,42,2,38,9,...,0,457,2,46,0,215,2763,14589,446.0,41947.0
AJMER,632,751,77,746,1,745,1689,1288,360,38,...,199,1370,9,7196,0,5945,44681,95564,580.0,112045.8
AKOLA,675,673,26,397,0,397,385,327,41,144,...,83,1528,412,2025,0,1773,17713,57753,375.0,89906.1
ALAPUZHA,288,404,56,406,0,406,207,149,58,83,...,17,2724,262,3268,0,327,68307,116019,352.0,51751.6
ALIGARH,2396,2788,409,847,0,847,3004,2013,520,215,...,781,1601,361,3664,0,3792,17893,70708,617.0,145966.3
ALIPURDUAR,49,40,6,118,0,118,176,0,60,4,...,2,83,6,328,0,66,1478,3355,5.0,5428.4
ALIRAJPUR,413,259,6,191,0,191,98,90,8,13,...,3,165,2,57,0,518,3997,8785,66.0,8083.0
ALLAHABAD,1907,1695,517,641,16,625,2061,1588,390,97,...,844,1189,474,2993,0,4711,27052,75314,737.0,124604.7
ALMORA,151,92,20,63,0,63,111,56,55,14,...,73,68,24,97,0,167,737,3095,16.0,5605.7

In [ ]:
dist_group['Crime Index'] = dist_group['Crime Index'] /dist_group['Crime Index'].abs().max()

In [ ]:
dist_group.to_csv('CrimeIndex.csv')